<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <title>Contact Us</title>
  <link type="text/css" rel="stylesheet" href="styles/site-plan-rafting.css" />
</head>

<body>
  <header>
    <h1 style="font-family: Brush Script MT">Contact us for any qusetions, concerns, or to book your vacation!</h1>
  </header>
  <main>
    <hr />


    <hr />
    <h2 style="font-family: Brush Script MT">Contact information:</h2>
    <h3 style="font-family: Brush Script MT">Phone Number: 262-599-9030 <br>
    Email: chuswwr30@gmail.com</h3>
    <br>
    <h2 style="font-family: Brush Script MT">Where you can find us:</h2>
    <h3 style="font-family: Brush Script MT">Instagram: @Chus_W_W_R <br>
        Faceboon: @Chus_White_Water_Rafting
    </h3>
    <br>
    <h1 style="font-family: Brush Script MT">Come have fun and make memorable memories with friends and family!</h1>
    <img src="https://images.squarespace-cdn.com/content/v1/562a6020e4b0e4a432182dfe/1490040575680-C7T7JT953TG1AS6MAG0L/27413427864_d1cf23e3f9_o.jpg?format=1000w" alt="wwr.jpeg" />
    <hr />


       <nav style="font-family: Brush Script MT">
      <a href="http://127.0.0.1:5500/wwr/site-plan-rafting.html">Home</a>
      <a href="http://127.0.0.1:5500/wwr/page2.html">Page2</a>
      <a href="\http://127.0.0.1:5500/wwr/contact.us.page.html">Contact Us</a>
    </nav>

</body>

</html>