body {
    background-color: aquamarine;
}
.sec1 {
    background-color: darkslategray;
    color: white
 
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2em;
}
header {
    grid-column: 2/-1;
    background-color: beige;
}
footer {
    grid-column: 1/-1;
    background-color: blueviolet;
}